:root{
    --player-size: 4;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7ed6df;
}



.Charecter{
    width: calc(23px * var(--player-size));
    height: calc(30px * var(--player-size));

    /* background: red; */
    overflow: hidden;
    image-rendering: pixelated;
    position: relative;
    
}

#canv{
    position: absolute;
    z-index: 0;
}

.Charecter-sprite{
    display: none;
    width: calc(200px*var(--player-size)) ;
    height: calc(125px*var(--player-size)) ;
   
    position: absolute;
    z-index: 100;
}

.addAnimation{
     animation: moveSprite 1s steps(8) infinite;
}

.moveRight{
    top: calc(-95px * var(--player-size));
}

@keyframes moveSprite{
    0%{
        transform: translate3d(0px,0,0);
    }
    100%{
        transform: translate3d(-100%,0,0);
    }
}