:root{
    --player-size: 4;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7ed6df;
}


.bgImg{
   position: absolute;
   background: url(pixel.jpg);
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: 0 0;
   background-repeat: repeat-x;
   image-rendering: pixelated;
}

.bg-animation{
    animation: animate 15s linear infinite;
}

@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}

.Charecter{
    width: calc(23px * var(--player-size));
    height: calc(30px * var(--player-size));
    overflow: hidden;
    image-rendering: pixelated;
    position: relative;
    
}



#canv{
    position: absolute;
    z-index: 0;
}

.Charecter-sprite{
    display: none;
    width: calc(200px*var(--player-size)) ;
    height: calc(125px*var(--player-size)) ;
    position: absolute;
    image-rendering: pixelated;
    z-index: 100;
}

.opacityDown{
    opacity: 0.3;
}

.addAnimation{
     animation: moveSprite 1s steps(8) infinite;
}

.moveRight{
    top: calc(-95px * var(--player-size));
}

.sound-img{
    width: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.game-over{
    position: absolute;
    left: -100%;
    width: 400px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.game-over button{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    font-size: 20;
}

.game-over button:hover{
    cursor: pointer;
}

.show-game-over{
    left: 30%;
}

@keyframes moveSprite{
    0%{
        transform: translate3d(0px,0,0);
    }
    100%{
        transform: translate3d(-100%,0,0);
    }
}